html {
	cursor: none;
}
header, footer {
	pointer-events: none;

	filter: blur(.3rem);
}
h1, .typed {
	filter: blur(.5rem);
}
p {
	margin: 3rem 0 -3rem;
}
#login {
	z-index: 2;
	cursor: default;

	position: fixed;
	top: 25%;
	left: 0;
	right: 0;
	margin: 0 auto;

	text-align: center;
	background-color: var(--brown);

	width: 65rem;
	max-width: 84%;

	padding: 2rem;

	border: .5rem solid var(--blue);
	border-radius: 3rem;
}
#login button {
	height: 5rem;
}
#login input {
	border-color: var(--black);
}
.result {
	color: var(--green);
}

@media (max-aspect-ratio: 1/1) {
	p {
		font-size: 2rem;
	}
}
@media (min-aspect-ratio: 3/1) {
	#login {
		top: 5rem;

		width: 50vw;
	}
	#login form {
		padding: 0;
	}
}
